p{
    position:relative -20px;
    size-adjust: 300px;
    color: red;
    font-size: 30px;
    text-align: 200px;
    font-family: monospace;
    text-align: left;
}
img{
    background-color: aqua;
    align-self: left;
}


