img {
    width: 100;
}
body {
    background-color: red;
}
p {
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1 {
    color: aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}